:root {
	--hero-max-height: calc(100vh - 5.25rem);
}
.hero-container {
	position: relative;
	width: 100%;
	max-height: var(--hero-max-height);
	padding: 0;
	overflow: hidden;
}
.hero-container > video {
	width: 100%;
	height: auto;
	max-height: var(--hero-max-height);
	object-fit: cover;
}
article.hero-overlay {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(34, 34, 34, 0.5);
	z-index: 1;
	display: grid;
	place-items: center;
}
.hero-img {
	max-height: 45%;
	max-width: 80%;
	transform: translate(-40vw, -40vh) scale(0.01) rotate(720deg);
	opacity: 0;
	transition: all 0.5s;
	user-select: none;
}
.hero-img.show {
	transform: translate(0, 0) scale(1) rotate(0deg);
	z-index: 0;
	opacity: 1;
}
.hero-overlay > button {
	background: none;
	border: none;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 2rem;
	width: 2rem;
	min-height: 48px;
	min-width: 48px;
	cursor: pointer;
	padding: 0;
}
.hero-overlay > button > svg {
	height: 1.5rem;
	width: 1.5rem;
	min-height: 16px;
	min-width: 16px;
}
